* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffe5e5;
}

.container {
  text-align: center;
  max-width: 400px;
  padding: 20px;
}

h1 {
  margin: 20px 0;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn a {
  text-decoration: none;
  background: white;
  color: black;
  padding: 10px 25px;
  border-radius: 8px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
}
